<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="main.component.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        crossorigin="anonymous">
</head>
<body>
<div class="topnav">
  <h1>Explore Romania</h1>
</div>
<section class="jumbotron text-center">
  <h1 class="display-3">Cabana Lacramioara</h1>
  <div class="container">
    <div class="card">
      <img class="card-img-top" src="../../assets/cabana1.jpg" alt="">
      <p>Izolata de restul cabanelor din cadrul complexului turistic, Cabana Lacramioara are o pozitie privilegiata,
        fiind situata la marginea padurii, intr-un loc retras si linistit. Aerul de munte puternic ozonat, padurea si
        apa...</p>
    </div>
  </div>
  <button type="submit">Book now!</button>
  <button type="submit">Leave a review!</button>
</section>

<section class="jumbotron text-center">
  <h1 class="display-3">Chalet Maya</h1>
  <div class="container">
    <div class="card">
      <img class="card-img-top" src="../../assets/cabana2.jpg" alt="">
      <p>Chalet Maya este locul perfect pentru a petrece un weekend la munte cu prieteni dragi sau cu familia chiar si
        in pandemie. Ne distingem prin accentul pus pe siguranta tuturor, dezinfectam si inchiriem cu pauza de
        minimum...</p>
    </div>
  </div>
  <button type="submit">Book now!</button>
  <button type="submit">Leave a review!</button>
</section>

<section class="jumbotron text-center">
  <h1 class="display-3">Cabana Negoiu</h1>
  <div class="container">
    <div class="card">
      <img class="card-img-top" src="../../assets/caban3.jpg" alt="">
      <p>Cabana Negoiu este situata la poalele muntilor Fagaras, pe valea Porumbacului. Este pozitionata in mijlocul
        naturii, fiind destinatia perfecta...</p>
    </div>
  </div>
  <button type="submit">Book now!</button>
  <button type="submit">Leave a review!</button>
</section>

<section class="jumbotron text-center">
  <h1 class="display-3">Pensiunea Margareta</h1>
  <div class="container">
    <div class="card">
      <img class="card-img-top" src="../../assets/caban4.jpg" alt="">
      <p>Va invitam sa ne fiti oaspeti intr-un mediu in care traditia, intimitatea, linistea, aerul de munte,
        privelistea minunata si mancarea traditionala sunt la ele acasa. Pensiunea este situata la...</p>
    </div>
  </div>
  <button type="submit">Book now!</button>
  <button type="submit">Leave a review!</button>
</section>

<section class="jumbotron text-center">
  <h1 class="display-3">Casuta din Padure</h1>
  <div class="container">
    <div class="card">
      <img class="card-img-top" src="../../assets/cabana5.jpg" alt="">
      <p>Daca va e dor sa redescoperiti frumusetea naturii, daca doriti liniste si aer curat, va invitam la Casuta din
        Padure. Ne gasiti la poalele muntilor Rodnei, drumul care urca catre...
      </p>
    </div>
  </div>
  <button type="submit">Book now!</button>
  <button type="submit">Leave a review!</button>
</section>

<section class="jumbotron text-center">
  <h1 class="display-3">Poiana Brazilor</h1>
  <div class="container">
    <div class="card">
      <img class="card-img-top" src="../../assets/cabana6.jpg" alt="">
      <p>Un loc placut in care sa te recreezi cu prietenii, in apropierea padurii si pe malul apei. Principiul dupa care
        ne ghidam este: clienti nostri speram sa devina prietenii nostri. Daca iti place agitatia, zgomotul,
        muzica...</p>
    </div>
  </div>
  <button type="submit">Book now!</button>
  <button type="submit">Leave a review!</button>
</section>

<section class="jumbotron text-center">
  <h1 class="display-3">Cabana Ursu</h1>
  <div class="container">
    <div class="card">
      <img class="card-img-top" src="../../assets/cabana7.jpg" alt="">
      <p>Cabana este situata la 100m de Manastirea Brancoveanu si foarte aproape de partie. Este o locatie ideala pentru
        familii sau grupuri de prieteni care doresc sa aiba intimitatea pe care nu o gasesc in locatiile...</p>
    </div>
  </div>
  <button type="submit">Book now!</button>
  <button type="submit">Leave a review!</button>
</section>

<section class="jumbotron text-center">
  <h1 class="display-3">Vila Lotus</h1>
  <div class="container">
    <div class="card">
      <img class="card-img-top" src="../../assets/cabana8.jpg" alt="">
      <p>Vila Lotus se afla intr-o zona pitoreasca de munte , la 7km de barajul Vidraru. Este o casa moderna si
        confortabila, punem la dispozitia turistilor parcare, acces la bucatarie, curte cu loc de gratar, livada, living
        cu televizor. Camerele...</p>
    </div>
  </div>
  <button type="submit">Book now!</button>
  <button type="submit">Leave a review!</button>
</section>

</body>
</html>
