<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="register.component.css">
</head>
<body>
<form class="box"  method="post">
  <h1>Register</h1>
  <input type="text" name="" placeholder="First name">
  <input type="text" name="" placeholder="Last name">
  <input type="text" name="" placeholder="Username">
  <input type="password" name="" placeholder="Password">
  <input type="password" name="" placeholder="Re-enter the Password">
  <input type="submit" name="" routerLink="/login" value="Register">
</form>
</body>
</html>
